#navbar .logo{
    float: none;
    text-align: center;   
}
#navbar ul,#navbar ul li{
    float: none;
}
#navbar ul li a{
    border-bottom: 1px dotted #444;
    padding: 5px;
}
.surati{
    display: none;
}
.info{
    float: none;
    width: 100%;
}
.box{
    float: none;
    width: 100%;
}
#home{
    height: 550px;
}
.left,.right{
    float: none;
    width: 100%;
}
.right img{
    margin-top: 15px;
}
.left h1{
    text-align: center;
}